<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">New Transaction</h5>
  <div class="card-body">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
              <div class="form-group col">
                  <label>Transaction Type</label>
                  <select formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                      <option value=""></option>
                      <option value="Credit">Credit</option>
                      <option value="Debit">Debit</option>
                  </select>
                  <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                      <div *ngIf="f.type.errors.required">Type is required</div>
                  </div>
              </div>
              <div class="form-group col-5">
                  <label>Amount</label>
                  <input type="text" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                  <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                      <div *ngIf="f.amount.errors.required">Amount is required</div>
                  </div>
              </div>
              <div class="form-group col-5">
                  <label>Description</label>
                  <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                      <div *ngIf="f.description.errors.required">Description is required</div>
                  </div>
              </div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1">Add</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
      </form>
  </div>
</div>
