<div class="container">
  <h3>Office Transactions</h3>
  <div class="float-right">
    <a routerLink="add">+ Add Transaction</a>
  </div>
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Credit</th>
        <th>Debit</th>
        <th>Running Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of transactionList">
        <td>{{data.createdAt| date:'short'}}</td>
        <td>{{data.description}}</td>
        <td>{{data.type == 'Credit'?data.amount:'-'}}</td>
        <td >{{data.type == 'Debit'?data.amount:'-'}}</td>
        <td>{{totalBalance(data)}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>